@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
main {
  width: 100%;
  padding: 30px;
}
.app {
  width: 100%;
  margin: 200px auto;
  max-width: 600px;
  background-color: white;
  padding: 100px 50px;
  border-radius: 20px;
}
.title__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.title__container h1 {
  font-size: 35px;
}
.logo {
  width: 40px;
}
.input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237, 238, 240);
  border-radius: 20px;
}
input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding-left: 20px;
  height: 40px;
  outline: none;
}
.add__btn {
  background-color: rgb(255, 88, 69);
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 90px;
  font-size: 15px;
}
.tasks__conotainer {
  margin-top: 10px;
}
ul li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
  cursor: pointer;
}
.check__btn {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  left: 8px;
  top: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.uncheck {
  background-image: url(./images/unchecked.png);
}
.checked {
  background-image: url(./images/check.png);
}
.completed {
  text-decoration: line-through;
  color: #555;
}

span {
  color: rgb(255, 88, 69);
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 3px;
}

.edit__btn {
  position: absolute;
  top: 13px;
  right: 50px;
  width: 70px;
  color: rgb(255, 88, 69);
  font-weight: bold;
  background-color: aliceblue;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}
.edit__btn:hover {
  transform: scale(1.2);
}
.text {
  max-width: 300px;
  word-wrap: break-word;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 13px;
  }
  .title__container h1 {
    font-size: 31px;
  }
  input {
    padding-left: 10px;
  }
  .app {
    padding: 50px 30px;
  }
  .edit__btn {
    position: absolute;
    right: 30px;
    width: 50px;
    top: 12px;
    font-size: 13px;
  }
  span {
    top: 1px;
  }
  .check__btn {
    height: 20px;
    width: 20px;
    left: 8px;
    top: 12px;
  }
  ul li {
    padding-left: 35px;
  }
  .text {
    max-width: 130px;
  }
}
